body {
    background-image: url("data:image/jpeg;base64,/9j/...");
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
    background-size: cover;
    height: 100vh;
}

.navbar a {
    margin-right: 10px;
    text-decoration: none;
    color: black;
}

.content-left {
    margin-top: 20px;
}

.container .content-left .window {
    height: 300px;
    width: 500px;
}

.window-body img {
    height: 120px;
}

.second-container .window {
    margin-top: 60px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.second-container .window-body p {
    font-size: 20px;
}

.second-container .window {
    width: 600px !important;
    height: 300px;
    margin-top: 17px;
}

.select-option {
    margin-top: 10px;
}

footer .second-cont-footer {
    margin-top: 50px;
}

/* Perbaikan posisi dan layout */
.container {
    float: left;
    width: 30%;
}

.second-container {
    float: left;
    width: 40%;
}

.right-container {
    float: right;
    width: 200px;
    margin-right: 60px;
    margin-top: 190px;
}

/* Pastikan tinggi konten agar tidak bertabrakan */
.container, .second-container, .right-container {
    min-height: 100%;
}
